.atividade-1 > ul > li{
    display: inline;
    border-style:double;
    border-color: black;
    border-width: medium;
    list-style: none;
    font-size: 3em;
}
.atividade-2 > nav > ul{
    padding: 10px;
  }
  
  li{
    list-style: none;
    display: inline;
  }
  
 .atividade-2 > nav > ul > li > a{
    text-decoration: none;
    color: #fff;
    background-color: #308ebd;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
  }
  .atividade-3 > a{
    text-decoration: none;
    color: #308ebd;
    border-bottom: 2px solid #308ebd;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    display: block;
  }