header{
    height: 80px;
    padding: 0 5vw;
    background-color: black;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

h1{
    font-size: 48px;
}

h2{
    margin: 20px 0;
}

.links{
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

a{
    color: white;
}