.container {

    width: 300px;

    margin: 0 auto;
    padding: .5rem 1rem;

    font-family: sans-serif;

    border: solid 1px #000;
    border-radius: 25px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;

    .status {

        display: flex;
        gap: .5rem;
        align-items: center;

        .indicator {
            display: block;
            
            border: solid 1px black;
            border-radius: 50%;

            width: 10px;
            height: 10px;

            background-color: white;
        }

        .active {
            background-color: green;
        }

        .inactive {
            background-color: red;
        }
    }
}